{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/signup.css' %}">
    <title>Sign Up</title>
</head>
<body>
   
    <div class="signup-box">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
          <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password1" required="">
            <label>Password</label>
          </div>
          <div class="user-box">
            <input type="password" name="password2" required="">
            <label>Confirm Password</label>
          </div>

          <button type="submit" class="signup-button">Sign Up<span></span><span></span><span></span><span></span></button>
      </form>
      {% if form.errors %}
        <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
            <p>There was an error. Please try again.</p>
        </div>
      {% endif %}

      
    
    </div>


</body>
</html>
